/********************************************************
 RESPONSIVE.CSS

 MEDIA QUERY STYLES FOR MEDIUM AND LARGER SCREENS
 BASE STYLES IN STYLES.CSS 
********************************************************/

/*********************************************************
 SMALL SCREENS
**********************************************************/
@media screen and (max-width: 501px) {

}
/*** END SMALL SCREENS ***********************************/



/*********************************************************
 MEDIUM SCREENS
**********************************************************/
@media screen and (min-width: 500px) {	
	/*********************************************************
	 GENERAL
	**********************************************************/

	/*** END GENERAL ******************************************/

	
	
	/*********************************************************
	 NAV 500px
	**********************************************************/
	.navWrap {
		padding-left: 35px;
	}

	nav {
		left: 30px;
	}
	
	.navBarList {
		margin-right: 25px;
	}
	/*** END NAV *********************************************/
	
	
	
	/*********************************************************
	 HEADER 500px
	**********************************************************/
	.headerInnerWrap {
		padding: 35px;
		padding-top: 75px;
	}
	
	.myLogo {
		width: 10vw;
		height: 10vw;
	}
	
	header h1 {
		font-size: 5vw;
		line-height: 45px;
	}
	/*** END HEADER ******************************************/


	
	/*********************************************************
	 MAIN WRAP 500px
	**********************************************************/
	.mainWrap {
		padding-top: 40px;
		padding-left: 35px;
		padding-right: 35px;
	}
	/*** END MAIN WRAP ***************************************/


	
	/*********************************************************
	 FOOTER 500px
	**********************************************************/
	.footerInnerWrap {
		padding: 35px;
	}
	/*** END FOOTER ******************************************/
}
/*** END MEDIUM SCREENS ************************************/




/*********************************************************
 MEDIUM/LARGE SCREENS
**********************************************************/
@media screen and (min-width: 750px) {	
	/*********************************************************
	 GENERAL
	**********************************************************/

	/*** END GENERAL ******************************************/
	


	/*********************************************************
	 NAV 750px
	**********************************************************/
	nav {
		/* position: absolute;
		top: 2px;
		right: auto;
		bottom: auto;
		left: 10px;
		margin-left: auto;
		text-align: center;
		width: 45px;
		max-width: 1200px;
		height: 40px;
		overflow: hidden;
		z-index: 999; */
		-webkit-transition: left .35s,
				   margin-left .35s,
				   width .75s ease-out, 
				   height 1s ease-out .35s,
				   overflow .3s ease-out 1s;
		transition: left .35s,
				   margin-left .35s,
				   width .75s ease-out, 
				   height 1s ease-out .35s,
				   overflow .3s ease-out 1s;
	}
	
	.openNav {
		/* width: 100%;
		height: 100%; */
		top: 50px;
		overflow: hidden; 
		/* left: 0;
		overflow: auto; */
	}
	
	.burgerWrap {
		/* margin-top: 50px; */
	}
	
	/* .burgerPattyClose {
		display: none;
		margin: -25px auto auto;
		margin-left: -15px;
		box-shadow: 10px 10px 10px rgba(25,25,25,0.9);
	} */
	
	.siteMapWrap {
		top: 50px !important;
		left: 50%;
		width: 90%;
		max-width: 1100px;
		padding: 35px;
		margin: 15px auto;
		margin-left: -45%;
		border-radius: 2px;
		border: 2px solid rgb(245,25,25);
		box-shadow: 15px 15px 10px rgba(25,25,25,0.9), 3px 3px 3px rgba(50,50,50,0.5) inset, -3px -3px 3px rgba(50,50,50,0.3) inset;
	}
	
	.siteMapList li {
		/* font-size: .88em; */
		max-width: 150px;
		max-height: 150px;
	}

	.siteMapList li a {
		/* display: block;
		width: 100%;
		height: 100%;
		max-width: 200px; */
		margin: auto;
		/* color: rgb(150,150,150); */
	}
	
	.siteMapList li a:active, .siteMapList li a:focus, .siteMapList li a:hover {
		color: rgb(255,60,0);
	}
	
	.siteMapList svg {
		width: 125px;
		height: 105px;
	}
	
	.siteMapSvgPath {
		/* stroke-dasharray: 550;
		stroke-dashoffset: 550; */
		-webkit-transition: .25s ease-out;transition: .25s ease-out;
		-webkit-transition: transform 1s ease-out .75s;transition: transform 1s ease-out .75s;
	}
	
	/* .siteMapSvgPath {
		-webkit-animation: offsetNav 10s ease-out .5s forwards;animation: offsetNav 10s ease-out .5s forwards;
	} */
	
	.siteMapListItem:nth-of-type(1) a:hover > .siteMapSVG > .siteMapSvgPath {
		stroke-dasharray: 275;
		stroke-dashoffset: 275;
	}
	
	/* #meIconXML .siteMapSvgPath {
		stroke-dasharray: 275;
		stroke-dashoffset: 275;
	} */
	
	
	
	.siteMapListItem:nth-of-type(2) a:hover > .siteMapSVG > .siteMapSvgPath {
		stroke-dasharray: 550;
		stroke-dashoffset: 550;
	}
	
	#treehouseIconXML {
		/* height: 45px; */
		/* margin-bottom: 5px; */
		/* width: auto; */
	}
	
	/* #treehouseIconXML .siteMapSvgPath {
		stroke-dasharray: 550;
		stroke-dashoffset: 550;
	} */
	
	
	
	.siteMapListItem:nth-of-type(3) a:hover > .siteMapSVG > .siteMapSvgPath {
		stroke-dasharray: 160;
		stroke-dashoffset: 160;
	}
	
	.siteMapListItem:nth-of-type(3) a:hover > .siteMapSVG > .siteMapSvgPath:nth-of-type(1)  {
		stroke-dasharray: 350;
		stroke-dashoffset: 350;
	}
	
	#projectsIconXML {
		/* height: 50px; */
		/* margin-bottom: 0px; */
	}
	
	/* #projectsIconXML .siteMapSvgPath {
		stroke-dasharray: 160;
		stroke-dashoffset: 160;
	}
	
	#projectsIconXML .siteMapSvgPath:nth-of-type(1) {
		stroke-dasharray: 350;
		stroke-dashoffset: 350;
	} */
	
	
	.siteMapListItem:nth-of-type(4) a:hover > .siteMapSVG > .siteMapSvgPath {
		stroke-dasharray: 50;
		stroke-dashoffset: 50;
	}
	
	.siteMapListItem:nth-of-type(4) a:hover > .siteMapSVG > .siteMapSvgPath:nth-of-type(n+2),
	.siteMapListItem:nth-of-type(4) a:hover > .siteMapSVG > .theHead {
		transform: translate3d(60px,-37px,0px);
	}
	
	.siteMapListItem:nth-of-type(4) a:hover > .siteMapSVG > .siteMapSvgPath:nth-of-type(1)  {
		stroke-dasharray: 275;
		stroke-dashoffset: 275;
	}
	
	/* .siteMapListItem:nth-of-type(4) a:hover > .siteMapSVG > .webSlinger {
		
	} */
	
	
	.siteMapListItem:nth-of-type(5) a:hover > .siteMapSVG > .siteMapSvgPath  {
		stroke-dasharray: 200;
		stroke-dashoffset: 200;
	}
	
	.siteMapListItem:nth-of-type(5) a:hover > .siteMapSVG > .siteMapSvgPath:nth-of-type(2)  {
		animation-delay: .25s;
	}
	
	.siteMapListItem:nth-of-type(5) a:hover > .siteMapSVG > .siteMapSvgPath:nth-of-type(3)  {
		animation-delay: .5s;
	}
	
	.siteMapListItem:nth-of-type(5) a:hover > .siteMapSVG > .siteMapSvgPath:nth-of-type(4)  {
		animation-delay: .75s;
	}
	
	.siteMapListItem:nth-of-type(5) a:hover > .siteMapSVG > .siteMapSvgPath:nth-of-type(5)  {
		animation-delay: 1.25s;
	}
	
	.siteMapListItem:nth-of-type(5) a:hover > .siteMapSVG > .siteMapSvgPath:nth-of-type(6)  {
		animation-delay: 1.5s;
	}
	
	.siteMapListItem:nth-of-type(5) a:hover > .siteMapSVG > .siteMapSvgPath:nth-of-type(7)  {
		animation-delay: 1.75s;
	}
	
	.siteMapListItem:nth-of-type(5) a:hover > .siteMapSVG > .siteMapSvgPath:nth-of-type(8)  {
		animation-delay: 2s;
	}
	
	
	.siteMapListItem:nth-of-type(6) a:hover > .siteMapSVG > .siteMapSvgPath  {
		stroke-dasharray: 235;
		stroke-dashoffset: 235;
	}
	
	.siteMapListItem:nth-of-type(7) a:hover > .siteMapSVG > .siteMapSvgPath  {
		stroke-dasharray: 175;
		stroke-dashoffset: 175;
	}
	
	
	
	#webDevJourneyIconXML {
		/* height: 50px; */
		/* margin-bottom: 0px; */
	}
	
	
	.siteMapListItem a:hover > .siteMapSVG > .siteMapSvgPath {
		stroke: rgb(35,145,255) !important;
		-webkit-animation: offsetNav 1s ease-out forwards;animation: offsetNav 1s ease-out forwards;
	}
	
	/* .animateSiteMapSvgPath {
		-webkit-animation: offsetNav 3s ease-out .75s forwards;animation: offsetNav 3s ease-out.75s forwards;
	} */
	
	/* .siteMapListItem:nth-of-type(2) .siteMapSvgPath {
		stroke-dasharray: 550;
		stroke-dashoffset: 550;
		-webkit-animation: offsetNav 3s ease-out 1s forwards;animation: offsetNav 3s ease-out 1s forwards;
	} */
	
	/* .siteMapListItem:nth-of-type(3) .siteMapSvgPath {
		stroke-dasharray: 250;
		stroke-dashoffset: 250;
		-webkit-animation: offsetNav 3s ease-out 1.25s forwards;animation: offsetNav 3s ease-out 1.25s forwards;
	}
	
	.siteMapListItem:nth-of-type(4) .siteMapSvgPath {
		stroke-dasharray: 550;
		stroke-dashoffset: 550;
		-webkit-animation: offsetNav 3s ease-out 1.25s forwards;animation: offsetNav 3s ease-out 1.25s forwards;
	}
	
	.siteMapListItem:nth-of-type(5) .siteMapSvgPath {
		stroke-dasharray: 950;
		stroke-dashoffset: 950;
		-webkit-animation: offsetNav 3s ease-out 1.25s forwards;animation: offsetNav 3s ease-out 1.25s forwards;
	}
	
	.siteMapListItem:nth-of-type(6) .siteMapSvgPath {
		stroke-dasharray: 400;
		stroke-dashoffset: 400;
		-webkit-animation: offsetNav 3s ease-out 1.25s forwards;animation: offsetNav 3s ease-out 1.25s forwards;
	}
	
	.siteMapListItem:nth-of-type(7) .siteMapSvgPath {
		stroke-dasharray: 550;
		stroke-dashoffset: 550;
		-webkit-animation: offsetNav 3s ease-out 1.25s forwards;animation: offsetNav 3s ease-out 1.25s forwards;
	} */


	@-webkit-keyframes offsetNav {
		100% {
			stroke-dashoffset: 0;
		}
	}
	@keyframes offsetNav {
		100% {
			stroke-dashoffset: 0;
		}
	}
	/*** END NAV *********************************************/
	
	
	
	/*********************************************************
	 HEADER 750px
	**********************************************************/
	header {
		background-size:cover;
	}
	
	.myLogo {
		width: 7.5vw;
		max-width: 6em;
		height: 7.5vw;
		max-height: 6em;
	}
	
	header h1 {
		font-size: 4vw;
		line-height: 55px;
	}
	/*** END HEADER ******************************************/

	

	/*********************************************************
	 MAIN WRAP 750px
	**********************************************************/
	.movieWrap {
		width: 200px;
		height: 280px;
	}
	
	.intro {
		font-size: 1.25em;
	}
	/*** END MAIN WRAP ***************************************/

	

	/*********************************************************
	 FOOTER
	**********************************************************/

	/*** END FOOTER ******************************************/
}
/*** END MEDIUM SCREENS ************************************/




/*********************************************************
 lARGE SCREENS
**********************************************************/
@media screen and (min-width: 1000px) {
	/*********************************************************
	 GENERAL
	**********************************************************/

	/*** END GENERAL ******************************************/
	
	
	
	/*********************************************************
	 HEADER 1000px
	**********************************************************/
	.headerInnerWrap {
		padding-top: 100px;
		padding-bottom: 50px;
	}
	/*** END HEADER ******************************************/



	/*********************************************************
	 NAV
	**********************************************************/

	/*** END NAV *********************************************/


	
	/*********************************************************
	 MAIN WRAP
	**********************************************************/
	.ps1 {
		max-width: 275px;
		clear: both;
	}

	.ps2 {
		max-width: 325px;
		margin-top: -250px;
		float: left;
	}
	/*** END MAIN WRAP ***************************************/

	

	/*********************************************************
	 FOOTER
	**********************************************************/

	/*** END FOOTER ******************************************/
}
/*** END LARGE SCREENS ****************************************/



/*********************************************************
 X lARGE SCREENS
**********************************************************/
@media screen and (min-width: 1200px) {
	/*********************************************************
	 GENERAL
	**********************************************************/

	/*** END GENERAL ******************************************/



	/*********************************************************
	 NAV 1200px
	**********************************************************/
	nav {
		left: 50%;
		margin-left: -570px;
	}
	
	.openNav {
		left: 50%;
		margin-left: -600px;
	}
	
	.siteMapWrap {
		margin-left: -535px;
	}
	/*** END NAV *********************************************/
	
	
	
	/*********************************************************
	 HEADER 1200px
	**********************************************************/
	.myLogo {
		margin-top: -10px;
	}
	/*** END HEADER ******************************************/

	

	/*********************************************************
	 MAIN WRAP
	**********************************************************/

	/*** END MAIN WRAP ***************************************/


	
	/*********************************************************
	MODAL 1200px
	**********************************************************/
	.modal {
		margin-left: -600px;
	}
	
	.arrowFixed {
		margin-left: 0px;
	}
	/*** END MODAL *********************************************/
	
	
	
	/*********************************************************
	 FOOTER
	**********************************************************/

	/*** END FOOTER ******************************************/
}
/*** END X LARGE SCREENS **************************************/