/********************************************************
 RESPONSIVE.CSS

 MEDIA QUERY STYLES FOR MEDIUM AND LARGER SCREENS
 BASE STYLES IN STYLES.CSS  - TABLET SPECIFIC RULES AT BOTTOM OF FILE
********************************************************/


/*********************************************************
 MEDIUM SCREENS
**********************************************************/
@media screen and (min-width: 500px) {	
	/*********************************************************
	 GENERAL
	**********************************************************/

	/*** END GENERAL ******************************************/

	
	
	/*********************************************************
	 NAV 500px
	**********************************************************/
	.navBarInnerWrap {
		padding-left: 35px;
	}
	
	.navBarList {
		margin-right: 25px;
	}
	
	.siteMapWrap h2 {
		float: none;
		margin: none;
		font-size: 2.25em;
	}
	
	.siteMapList li {
		max-width: 100px;
		margin: 20px;
	}
	/*** END NAV *********************************************/
	
	
	
	/*********************************************************
	 HEADER 500px
	**********************************************************/
	.headerInnerWrap {
		padding: 35px;
		padding-top: 75px;
	}
	
	.myLogo {
		width: 10vw;
		height: 10vw;
	}
	
	header h1 {
		font-size: 5vw;
		line-height: 45px;
	}
	/*** END HEADER ******************************************/


	
	/*********************************************************
	 MAIN WRAP - SECTIONS 500px
	**********************************************************/
	.mainWrap {
		padding-top: 40px;
		padding-left: 35px;
		padding-right: 35px;
	}
	
	.psTitleWrap {
		padding-right: 20px;
		padding-left: 20px;
	}
	/*** END MAIN WRAP ***************************************/


	
	/*********************************************************
	 FOOTER 500px
	**********************************************************/
	.footerInnerWrap {
		padding: 35px;
	}
	/*** END FOOTER ******************************************/
}
/*** END MEDIUM SCREENS ************************************/




/*********************************************************
 MEDIUM/LARGE SCREENS
**********************************************************/
@media screen and (min-width: 750px) {	
	/*********************************************************
	 GENERAL
	**********************************************************/

	/*** END GENERAL ******************************************/
	


	/*********************************************************
	 NAV 750px
	**********************************************************/
	@-webkit-keyframes trasnformBurger {
		50% {
			top: 30px;
			right: calc(100% - 30px);
		}
		100% {
			top: 30px;
			right: 65px;
		}
	}
	@keyframes trasnformBurger {
		50% {
			top: 30px;
			right: calc(100% - 30px);
		}
		100% {
			top: 30px;
			right: 65px;
		}
	}
	
	.siteMapList {
		padding-top: 0px;
	}
	
	.siteMapList li {
		max-width: 150px;
		height: 175px;
		padding: 10px;
		margin: 25px;
	}

	.siteMapList li a {
		max-width: 150px;
		margin: auto;
		padding-bottom: 50px !important;
	}
	
	
	
	.siteMapList svg {
		width: 65px;
		height: 105px;
	}
	
	.siteMapLinkTitle {
		display: inline-block;
		margin-top: -10px;
	}
	
	
	
	.siteMapSvgPath {
		-webkit-transition: stroke .35s ease-out !important;transition: stroke .35s ease-out !important;
	}
	
	@-webkit-keyframes offsetNav {
		100% {
			stroke-dashoffset: 0;
		}
	}
	@keyframes offsetNav {
		100% {
			stroke-dashoffset: 0;
		}
	}
	/*** END NAV *********************************************/
	
	
	
	/*********************************************************
	 HEADER 750px
	**********************************************************/
	header {
		background-size:cover;
	}
	
	.myLogo {
		width: 7.5vw;
		max-width: 6em;
		height: 7.5vw;
		max-height: 6em;
	}
	
	header h1 {
		font-size: 4vw;
		line-height: 55px;
	}
	/*** END HEADER ******************************************/

	

	/*********************************************************
	 MAIN WRAP - SECTIONS 750px
	**********************************************************/
	.mainWrap {
		text-align: right;
		/* min-height: 100%; */
	}
	
	.primeWrap {
		background: url("../img/bg/laptop.jpg") no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

	.outerMainWrap {
		background: url("../img/bg/laptop.jpg") no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
	
	.portfolioSection {
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin: 45px auto 75px;
	}
	
	.portfolioSection:nth-child(odd) {
		float: left;
		/* margin-right: 75px; */
	}
	
	.portfolioSection:nth-child(even) {
		
	}
	
	.absoluteReveal {
		position: absolute;
		width: calc(100% - 50px);
		top: 0;
		left: 0;
		margin-left: 25px;
		z-index: 99;
	}
	
	.psInnerWrap {
		position: relative;
		width: 300px;
		height: 325px;
	}
	
	.showReveal {
		height: auto;
		width: auto;
	}
	
	/* .psContentWrap {
		vertical-align: bottom;
	} */
	
	.psInfoReveal {
		padding-left: 25px;
		padding-right: 25px;
	}
	
	
	.psInnerWrap1:hover > .psTitleWrap1 > #meTitle > .psSvgPath {
		fill: transparent ;
		stroke-dasharray: 600;
		stroke-dashoffset: 600;
		-webkit-animation: psOffset 2s ease-out forwards,fill 1.5s ease-out 1s forwards;animation: psOffset 2s ease-out forwards,fill 1s ease-out 1.5s forwards;
	}
	
	@-webkit-keyframes fill {
		100% {
			fill: rgb(245,245,245);
		}
	}
	@keyframes fill {
		100% {
			fill: rgb(245,245,245);
		}
	}

	.psTitleWrap2:hover > .psImgWrap > .psSvg > .psSvgPath {
		stroke-dasharray: 550;
		stroke-dashoffset: 550;
	}
	
	.psTitleWrap3:hover > .psImgWrap > .psSvg > .psSvgPath {
		stroke-dasharray: 160;
		stroke-dashoffset: 160;
	}
	
	.psTitleWrap3:hover > .psImgWrap > .psSvg > .psSvgPath:nth-of-type(1)  {
		stroke-dasharray: 350;
		stroke-dashoffset: 350;
	}
	
	.psTitleWrap4:hover > .psImgWrap > .psSvg > .psSvgPath {
		stroke-dasharray: 50;
		stroke-dashoffset: 50;
	}
	
	.psTitleWrap4:hover > .psImgWrap > .psSvg > .psSvgPath:nth-of-type(n+2),
	.psTitleWrap4:hover > .psImgWrap > .psSvg > .theHead {
		-webkit-transform: translate3d(60px,-37px,0px);transform: translate3d(60px,-37px,0px);
	}
	
	.psTitleWrap4:hover > .psImgWrap > .psSvg > .psSvgPath:nth-of-type(1)  {
		stroke-dasharray: 275;
		stroke-dashoffset: 275;
	}
	
	.psImgWrap4 svg {
		height: 105px;
	}
	
	.psTitleWrap5:hover > .psImgWrap > .psSvg > .psSvgPath  {
		stroke-dasharray: 200;
		stroke-dashoffset: 200;
	}
	
	.psTitleWrap5:hover > .psImgWrap > .psSvg > .psSvgPath:nth-of-type(2)  {
		-webkit-animation-delay: .25s;animation-delay: .25s;
	}
	
	.psTitleWrap5:hover > .psImgWrap > .psSvg > .psSvgPath:nth-of-type(3)  {
		-webkit-animation-delay: .5s;animation-delay: .5s;
	}
	
	.psTitleWrap5:hover > .psImgWrap > .psSvg > .psSvgPath:nth-of-type(4)  {
		-webkit-animation-delay: .75s;animation-delay: .75s;
	}
	
	.psTitleWrap5:hover > .psImgWrap > .psSvg > .psSvgPath:nth-of-type(5)  {
		-webkit-animation-delay: 1.25s;animation-delay: 1.25s;
	}
	
	.psTitleWrap5:hover > .psImgWrap > .psSvg > .psSvgPath:nth-of-type(6)  {
		-webkit-animation-delay: 1.75s;animation-delay: 1.75s;
	}
	
	.psTitleWrap5:hover > .psImgWrap > .psSvg > .psSvgPath:nth-of-type(7)  {
		-webkit-animation-delay: 2.25s;animation-delay: 2.25s;
	}
	
	.psTitleWrap5:hover >.psImgWrap > .psSvg > .psSvgPath:nth-of-type(8)  {
		-webkit-animation-delay: 2.75s;animation-delay: 2.75s;
	}
	
	.psTitleWrap6:hover > .psImgWrap > .psSvg > .psSvgPath {
		stroke-dasharray: 235;
		stroke-dashoffset: 235;
	}

	.psTitleWrap:hover > .psImgWrap > .psSvg > .psSvgPath {
		-webkit-animation: psOffset 2s ease-out forwards;animation: psOffset 2s ease-out forwards;
	}
	
	@-webkit-keyframes psOffset {
		100% {
			stroke-dashoffset: 0;
		}
	}
	@keyframes psOffset {
		100% {
			stroke-dashoffset: 0;
		}
	}
	
	.CheckItOutBtn {
		position: absolute;
		left: 50%;
		margin-left: -77px;
		top: 270px;
	}
	
	.smPic {
		display: none;
	}
	
	.lgPic {
		display: block;
		width: 600px;
		margin: auto;
	}
	/*** END MAIN WRAP ***************************************/

	

	/*********************************************************
	 FOOTER
	**********************************************************/

	/*** END FOOTER ******************************************/
}
/*** END MEDIUM SCREENS ************************************/




/*********************************************************
 lARGE SCREENS
**********************************************************/
@media screen and (min-width: 1000px) {
	/*********************************************************
	 GENERAL
	**********************************************************/

	/*** END GENERAL ******************************************/
	
	
	
	/*********************************************************
	 HEADER 1000px
	**********************************************************/
	.headerInnerWrap {
		padding-top: 100px;
		padding-bottom: 50px;
	}
	/*** END HEADER ******************************************/



	/*********************************************************
	 NAV 1000px
	**********************************************************/
	.burgerWrapToggle {
		right: calc(50% + 400px);
	}
	
	@-webkit-keyframes trasnformBurger {
		50% {
			top: 30px;
			right: calc(50% + 400px);
		}
		100% {
			top: 30px;
			right: calc(50% - 400px);
		}
	}
	@keyframes trasnformBurger {
		50% {
			top: 30px;
			right: calc(50% + 400px);
		}
		100% {
			top: 30px;
			right: calc(50% - 400px);
		}
	}
	/*** END NAV *********************************************/


	
	/*********************************************************
	 MAIN WRAP - SECTIONS 1000px
	**********************************************************/
	.portfolioSection {
		display: inline-block;
		vertical-align: bottom;
		/* max-width: 500px; */
	}
	
	.portfolioSection:nth-child(odd) {
		margin-right: 75px;
	}
	
	.lgPic {
		width: auto;
	}
	/*** END MAIN WRAP ***************************************/

	

	/*********************************************************
	 FOOTER
	**********************************************************/

	/*** END FOOTER ******************************************/
}
/*** END LARGE SCREENS ****************************************/



/*********************************************************
 X lARGE SCREENS
**********************************************************/
@media screen and (min-width: 1100px) {
	/*********************************************************
	 MAIN WRAP - SECTIONS 1100px
	**********************************************************/
	.meInfoOuterWrap {
		vertical-align: top;
		text-align: right;
	}
	
	.meInfoWrap {
		display: inline-block;
		text-align: center;
		width: 475px;
		height: 290px;
		margin: auto;
	}
	
	.meHr {
		margin-bottom: 0px !important;
	}
	
	.meProWrap {
		float: left;
	}
	/*** END MAIN WRAP ***************************************/
}


@media screen and (min-width: 1150px) {
	/*********************************************************
	 MAIN WRAP - SECTIONS 1150px
	**********************************************************/
	.mainWrap {
		text-align: center;
		/* min-height: 100%; */
	}
	
	.portfolioSection {
		float: none !important;
	}
	
	.portfolioSection:nth-child(odd) {
		margin-right: auto;
	}
	
	.portfolioSection:nth-child(1), .portfolioSection:nth-child(4) {
		float: left !important;
		/* margin-left: 25px;
		margin-right: 25px; */
	}
	
	.portfolioSection:nth-child(3), .portfolioSection:nth-child(6) {
		float: right !important;
		/* margin-left: 25px;
		margin-right: 25px; */
	}
	
	.portfolioSection:nth-child(even) {
		
	}
	/*** END MAIN WRAP ***************************************/
}


@media screen and (min-width: 1250px) {
	/*********************************************************
	 GENERAL
	**********************************************************/

	/*** END GENERAL ******************************************/



	/*********************************************************
	 NAV 1200px
	**********************************************************/
	/*** END NAV *********************************************/
	
	
	
	/*********************************************************
	 HEADER 1250px
	**********************************************************/
	.myLogo {
		margin-top: -10px;
	}
	/*** END HEADER ******************************************/


	
	/*********************************************************
	MODAL 1200px
	**********************************************************/
	.modal {
		margin-left: -600px;
	}
	
	.arrowFixed {
		margin-left: 0px;
	}
	/*** END MODAL *********************************************/
	
	
	
	/*********************************************************
	 FOOTER
	**********************************************************/

	/*** END FOOTER ******************************************/
}
/*** END X LARGE SCREENS **************************************/


/*********************************************************
 TABLET
**********************************************************/
@media screen and (min-height: 100px) and (max-height: 600px) and (min-width: 100px) and (max-width: 850px) {
	.siteMapList {
		padding-top: 0px !important;
	}
	
	.siteMapList li {
		width: 90%;
		max-width: 75px !important;
		height: 75px !important;
	}

	.siteMapList li a {
		width: 100%;
		max-width: 85px !important;
		height: 100%;
		box-shadow: none;
	}


	.siteMapList svg{
		width: 35px !important;
		height: 45px !important;
	}
}
/*** END TABLET ******************************************/