/********************************************************
 RESPONSIVE.CSS

 MEDIA QUERY STYLES FOR MEDIUM AND LARGER SCREENS
 BASE STYLES IN STYLES.CSS 
********************************************************/

/*********************************************************
 SMALL SCREENS
**********************************************************/
@media screen and (max-width: 501px) {

}
/*** END SMALL SCREENS ***********************************/



/*********************************************************
 MEDIUM SCREENS
**********************************************************/
@media screen and (min-width: 500px) {	
	/*********************************************************
	 GENERAL
	**********************************************************/

	/*** END GENERAL ******************************************/

	
	
	/*********************************************************
	 NAV 500px
	**********************************************************/
	.navWrap {
		padding-left: 35px;
	}

	nav {
		left: 30px;
	}
	
	.navList_2 {
		margin-right: 25px;
	}
	/*** END NAV *********************************************/
	
	
	
	/*********************************************************
	 HEADER 500px
	**********************************************************/
	.headerInnerWrap {
		padding: 35px;
		padding-top: 75px;
	}
	
	.myLogo {
		width: 10vw;
		height: 10vw;
	}
	
	header h1 {
		font-size: 5vw;
		line-height: 45px;
	}
	/*** END HEADER ******************************************/


	
	/*********************************************************
	 MAIN WRAP 500px
	**********************************************************/
	.mainWrap {
		padding-top: 40px;
		padding-left: 35px;
		padding-right: 35px;
	}
	/*** END MAIN WRAP ***************************************/


	
	/*********************************************************
	 FOOTER 500px
	**********************************************************/
	.footerInnerWrap {
		padding: 35px;
	}
	/*** END FOOTER ******************************************/
}
/*** END MEDIUM SCREENS ************************************/




/*********************************************************
 MEDIUM/LARGE SCREENS
**********************************************************/
@media screen and (min-width: 750px) {	
	/*********************************************************
	 GENERAL
	**********************************************************/

	/*** END GENERAL ******************************************/
	


	/*********************************************************
	 NAV 750px
	**********************************************************/
	nav {
		/* position: absolute;
		top: 2px;
		right: auto;
		bottom: auto;
		left: 10px;
		margin-left: auto;
		text-align: center;
		width: 45px;
		max-width: 1200px;
		height: 40px;
		overflow: hidden;
		z-index: 999; */
		-webkit-transition: left .35s,
				   margin-left .35s,
				   width .75s ease-out, 
				   height 1s ease-out .35s,
				   overflow .3s ease-out 1s;
		transition: left .35s,
				   margin-left .35s,
				   width .75s ease-out, 
				   height 1s ease-out .35s,
				   overflow .3s ease-out 1s;
	}
	
	.openNav {
		/* width: 100%;
		height: 100%; */
		top: 50px;
		/* left: 0;
		overflow: auto; */
	}
	
	.burgerWrap {
		/* margin-top: 50px; */
	}
	
	/* .burgerPattyClose {
		display: none;
		margin: -25px auto auto;
		margin-left: -15px;
		box-shadow: 10px 10px 10px rgba(25,25,25,0.9);
	} */
	
	.siteMapWrap {
		top: 50px !important;
		left: 50%;
		width: 90%;
		max-width: 1100px;
		padding: 35px;
		margin: 15px auto;
		margin-left: -45%;
		border-radius: 2px;
		border: 2px solid rgb(245,25,25);
		box-shadow: 15px 15px 10px rgba(25,25,25,0.9), 3px 3px 3px rgba(50,50,50,0.5) inset, -3px -3px 3px rgba(50,50,50,0.3) inset;
	}
	/*** END NAV *********************************************/
	
	
	
	/*********************************************************
	 HEADER 750px
	**********************************************************/
	header {
		background-size:cover;
	}
	
	.myLogo {
		width: 7.5vw;
		max-width: 6em;
		height: 7.5vw;
		max-height: 6em;
	}
	
	header h1 {
		font-size: 4vw;
		line-height: 55px;
	}
	/*** END HEADER ******************************************/

	

	/*********************************************************
	 MAIN WRAP 750px
	**********************************************************/
	.movieWrap {
		width: 200px;
		height: 280px;
	}
	
	.intro {
		font-size: 1.25em;
	}
	/*** END MAIN WRAP ***************************************/

	

	/*********************************************************
	 FOOTER
	**********************************************************/

	/*** END FOOTER ******************************************/
}
/*** END MEDIUM SCREENS ************************************/




/*********************************************************
 lARGE SCREENS
**********************************************************/
@media screen and (min-width: 1000px) {
	/*********************************************************
	 GENERAL
	**********************************************************/

	/*** END GENERAL ******************************************/
	
	
	
	/*********************************************************
	 HEADER 1000px
	**********************************************************/
	.headerInnerWrap {
		padding-top: 100px;
		padding-bottom: 50px;
	}
	/*** END HEADER ******************************************/



	/*********************************************************
	 NAV
	**********************************************************/

	/*** END NAV *********************************************/


	
	/*********************************************************
	 MAIN WRAP
	**********************************************************/

	/*** END MAIN WRAP ***************************************/

	

	/*********************************************************
	 FOOTER
	**********************************************************/

	/*** END FOOTER ******************************************/
}
/*** END LARGE SCREENS ****************************************/



/*********************************************************
 X lARGE SCREENS
**********************************************************/
@media screen and (min-width: 1200px) {
	/*********************************************************
	 GENERAL
	**********************************************************/

	/*** END GENERAL ******************************************/



	/*********************************************************
	 NAV 1200px
	**********************************************************/
	nav {
		left: 50%;
		margin-left: -570px;
	}
	
	.openNav {
		left: 50%;
		margin-left: -600px;
	}
	
	.siteMapWrap {
		margin-left: -535px;
	}
	/*** END NAV *********************************************/
	
	
	
	/*********************************************************
	 HEADER 1200px
	**********************************************************/
	.myLogo {
		margin-top: -10px;
	}
	/*** END HEADER ******************************************/

	

	/*********************************************************
	 MAIN WRAP
	**********************************************************/

	/*** END MAIN WRAP ***************************************/


	
	/*********************************************************
	MODAL 1200px
	**********************************************************/
	.modal {
		margin-left: -600px;
	}
	
	.arrowFixed {
		margin-left: 0px;
	}
	/*** END MODAL *********************************************/
	
	
	
	/*********************************************************
	 FOOTER
	**********************************************************/

	/*** END FOOTER ******************************************/
}
/*** END X LARGE SCREENS **************************************/