.portfolioSection {
	text-align: center;
	width: auto;
	
	margin:auto auto 45px;
	border-radius: 3px;
	border: 1px solid rgba(200,200,200,0.5);
	box-shadow: 5px 5px 5px rgba(100,100,100,0.5);
}

.ps2 {
	clear: both;
}

.psBorder {
	border-radius: 3px;
	border: 10px solid rgb(245,245,245);
	
}

.psInnerWrap {
	border-radius: 3px;
	box-shadow: 3px 3px 3px rgba(245,245,254,0.5) inset, -5px -5px 5px rgba(50,50,50,0.7) inset;
}

.psInnerWrap1 {
	background: url("../img/bg/blur1.jpg") no-repeat 50% 50%;
	background-size: 250% auto;
}

.psInnerWrap2 {
	background: url("../img/bg/myTreehouseProjBG.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.psTitleWrap {
	padding-top: 20px;
	padding-bottom: 10px;
	-webkit-transition: .25s ease-out;transition: .25s ease-out;
}

.psTitle {
	font-size: 2.25em;
	line-height: 1.1em;
	color: rgb(245,245,245);
	text-shadow: 1px 1px 0px rgb(50,50,50);
	padding-left: 10px;
	padding-right: 10px;
}

#meTitle {
	max-width: 100px;
	-webkit-transition: .25s ease-out;transition: .25s ease-out;
}

.psTitle2 {
	
}

.psTitle4 {
	font-size: 1.5em;
}

.psContentWrap {
	padding-bottom: 25px;
}

.psImgWrap img,
.psImgWrap svg {
	width: 75px;
	height: 75px;
	margin: 10px auto;
	filter: drop-shadow(2px 2px 3px rgba(25,25,25,0.5));
}

.psImgWrap img {
	border-radius: 50%;
	border: 1px solid rgba(200,200,200,0.5);
}

.psInfoReveal {
	display: none;
}

.CheckItOutBtn {
	color: rgb(245,245,245);
	background: rgb(255,60,0);
}

.CheckItOutBtn:hover {
	color: rgb(75,175,255);
}

.psSvgPath {
	-webkit-transition: .25s ease-out;transition: .25s ease-out;
	-webkit-transition: transform 1s ease-out .65s;transition: transform 1s ease-out .65s;
}

.psSvg:nth-of-type(1) .psSvgPath {
	fill: rgb(245,245,245);
}

@media screen and (min-width: 750px) {

}