/********************************************************
SECTIONS

 DESIGNED FOR SMALL SCREENS FIRST 
 STYLES FOR LARGER SCREENS IN RESPONSIVE.CSS 
 *******************************************************/

.portfolioSection {
	text-align: center;
	width: auto;
	margin: 25px auto 75px;
	border-radius: 3px;
	border-top: 1px solid rgba(200,200,200,0.5);
	border-right: 1px solid rgb(0,0,0);
	border-left: 1px solid rgba(200,200,200,0.5);
	border-bottom: 1px solid rgb(0,0,0);
	box-shadow: 5px 5px 5px rgba(50,50,50,0.7);
}

.ps2 {
	clear: both;
}

.psBorder {
	background: rgb(25,25,25);
	border-radius: 3px;
	border: 15px solid rgb(25,25,25);
}

.psInnerWrap {
	background: -webkit-linear-gradient(black 5%, rgb(245,245,245) 10%);background: linear-gradient(black 5%, rgb(245,245,245) 10%);
	border-radius: 3px;
	box-shadow: 3px 3px 3px rgba(245,245,254,0.5) inset, -5px -5px 5px rgba(50,50,50,0.7) inset;
}

.psTitleWrap1 {
	background: url("../img/bg/blur1.jpg") no-repeat 50% 50%, black;
}

.psTitleWrap2 {
	background: url("../img/bg/myTreehouseProjBG.jpg") no-repeat 50% 50%;
}

.psTitleWrap3{
	background: url("../img/bg/myProjs2.jpg") no-repeat 50% 50%;
}

.psTitleWrap4 {
	background: url("../img/bg/journey.jpg") no-repeat 50% 50%;
}

.psTitleWrap5 {
	background: url("../img/bg/process.jpg") no-repeat 50% 50%;
}

.psTitleWrap6 {
	background: url("../img/bg/blur1.jpg") no-repeat 50% 50%;
}

.psTitleWrap {
	height: 325px;
	padding-top: 20px;
	padding-bottom: 10px;
	background-size: cover;
	-webkit-transition: .25s ease-out;transition: .25s ease-out;
	box-shadow: 3px 3px 3px rgba(245,245,254,0.5) inset, -5px -5px 5px rgba(50,50,50,0.7) inset;
	border-radius: 5px 5px 0 0;
}

.psTitle {
	font-size: 2.25em;
	line-height: 1.1em;
	color: rgb(245,245,245);
	text-shadow: 2px 1px 0px rgb(50,50,50);
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}

#meTitle {
	max-width: 100px;
	max-height: 100px;
	-webkit-transition: .25s ease-out;transition: .25s ease-out;
}

.psTitle4 {
	font-size: 1.5em;
}

.psImgWrap img,
.psImgWrap svg {
	width: 75px;
	height: 75px;
	margin: 10px auto;
	-webkit-filter: drop-shadow(2px 2px 3px rgba(25,25,25,0.5));filter: drop-shadow(2px 2px 3px rgba(25,25,25,0.5));
}

.psImgWrap svg {
	stroke: rgba(245,245,245,0.9):
}

.psImgWrap img {
	border-radius: 50%;
	border: 1px solid rgba(200,200,200,0.5);
}

.psImgWrap1, .psImgWrap5, .psImgWrap6 {
	margin: 25px auto;
}

.psInfoReveal {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 35px;
}

.jsPsInfoReveal {
	display: none;
}

.showReveal {
	display: block;
	height: auto;
	width: auto;
}

.CheckItOutBtn {
	width: 175px;
	color: rgb(245,245,245);
	background: rgb(255,60,0);
}

.CheckItOutBtn:hover {
	color: rgb(75,175,255);
}

.psSvgPath {
	-webkit-transition: .25s ease-out;transition: .25s ease-out;
	-webkit-transition: transform 1s ease-out .65s;transition: transform 1s ease-out .65s;
}

.psSvg:nth-of-type(1) .psSvgPath {
	fill: rgb(245,245,245);
}

.psInfoReveal h2, .psInfoReveal h3 {
	margin: 25px auto 10px;
}

.psInfoReveal p {
	text-align: left;
	color: rgba(45,45,45,0.9);
	margin: 10px auto;
}

.psInfoReveal button {
	color: rgba(245,245,245,0.9);
	background: rgb(255,60,0);
}

.psInfoReveal button:hover {
	color: rgb(75,175,255);
}

.smPic {
	margin: 15px auto;
}

.lgPic {
	display: none;
}


/* SECTION 2 - MY TREEHOUSE PROJECTS */
.psInfoReveal2 p {
	text-align: center;
	margin: 15px auto;
}

.psInfoReveal2 a {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	color: rgba(45,98,46,0.9);
}

.psInfoReveal2 a:hover {
	color: rgb(112,172,112);
}


/* SECTION 6 - CONTACT */
.psInfoReveal6 P {
	text-align: center;
}

.contactSocialLink {
	display: block;
	margin: 10px auto 15px;
}

.contactSocialLink img {
	width: 35px;
	height: 35px;
	-webkit-filter: invert(.7);filter: invert(.7);
	-webkit-transition: .25s ease-out;transition: .25s ease-out;
}

.contactSocialLink img:hover {
	-webkit-filter: invert(.3);filter: invert(.3);
}


